# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build and binary files
build/
bin/

# Miscellaneous
.vscode/
external/

# CodeQL
_codeql_build_dir/
_codeql_detected_source_root

# Test output files
step2_*.cf_seg
step2_*.cf_seq
step2_*.json
test_run_*.cf_seg
test_run_*.cf_seq
test_run_*.json
test*_sorted.cf_seq
test*_sorted.cf_seg
txps_large.fa.gz
txps_large_*
